<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr>
    <td height="20" colspan="10" style="border-top: 1px solid black; font-size: 20px" align="center">DVB Card Information</td>
  </tr>
  <tr>
    <td height="30" style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Upstream Source"><strong>Server</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Source Input to Server"><strong>Stream</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Number of Adapter on Server"><strong>Adapter</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" align="center"><strong>Signal</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" align="center" title="Signal Ratio"><strong>SNR</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Data Stream"><strong>&nbsp;&nbsp;&nbsp;Bitrate</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Invalid Blocks"><strong>UNC</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Bit Errors in TS"><strong>BER</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Last Received Data"><strong>Updated</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" >&nbsp;</td>
  </tr>
 {list}
  <tr>
    <td colspan="9">&nbsp;</td>
   </tr>
</table>
