 <tr >
    <td height="30" style="background-color: {bgcolor}; border-bottom: 1px dashed black">{server}</td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black">
    <a href="{php_self}?plugin=channels&stream={stream_encoded}">{stream}</a>
    </td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black">{adapter}</td>
    <td style="background-color: {lock_bgcolor}; border-bottom: 1px dashed black" align="center"><img title="{lock_title}" src="images/icons/{lock_image}" /></td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black" align="center">{snr}</td>
    <td style="background-color: {bitrate_bgcolor}; border-bottom: 1px dashed black">&nbsp;&nbsp;&nbsp;{bitrate}</td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black">{unc}</td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black">{ber}</td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black">{last_update}</td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black"><a onclick="return confirm('Remove Adapter?')" href="{php_self}?plugin=adapters&action=delete_adapter&adapter_id={adapter_id}"><img title="Remove Adapter" src="images/icons/cross.png"></a></td>
  </tr>
