<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr>
    <td height="20" colspan="10" style="border-top: 1px solid black; font-size: 20px" align="center">Информация о DVB картах</td>
  </tr>
  <tr>
    <td height="30" style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Источник исходящего потока"><strong>Сервер</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Источник входящего потока на сервер"><strong>Поток</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Номер адаптера на сервере"><strong>Адаптер</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" align="center"><strong>Сигнал</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" align="center" title="Отношение сигнал/шум. Основной показатель качества сигнала, чем выше, тем лучше"><strong>Сигнал/Шум</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Величина потока данных"><strong>&nbsp;&nbsp;&nbsp;Битрейт</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Некорректные блоки"><strong>UNC</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Битовые ошибки в потоке"><strong>BER</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Время последнего получения данных по каналу"><strong>Обновлено</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" >&nbsp;</td>
  </tr>
 {list}
  <tr>
    <td colspan="9">&nbsp;</td>
   </tr>
</table>
