<table width="100%" ellspacing="0" cellpadding="4" style="border: 1px solid black">
  <tr>
    <td align="center"><a href="{php_self}?plugin=channels">Channels</a></td>
    <td align="center"><a href="{php_self}?plugin=channels_log">Channels Log</a></td>
    <td align="center"><a href="{php_self}?plugin=adapters">Adapters</a></td>
    <td align="center"><a href="{php_self}?plugin=playlist">Playlist</a></td>
    <td align="center"><a href="{php_self}?plugin=users">Users</a></td>
  </tr>
</table>

