 <tr >
    <td height="30" style="background-color: {bgcolor}; border-bottom: 1px dashed black">{num}</td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black"><strong>{user}</strong></td>
        <td style="background-color: {bgcolor}; border-bottom: 1px dashed black"><a href="{php_self}?plugin=users&action=delete_user&user_id={user_id}" onclick="return confirm('Удалить пользователя?')"><img title="Удалить пользователя" src="images/icons/cross.png"></a></td>
  </tr>