<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr>
    <td height="20" colspan="16" style="border-top: 1px solid black; font-size: 20px" align="center">Список каналов</td>
  </tr>
  <tr>
    <td height="20" colspan="16" style="border-top: 1px solid black; font-size: 20px" align="center">
     <form method="get" style="font-size: 15px;" action="{php_self}">
    Сервер: {filter_server} Поток: {filter_stream}
     <input type="submit" name='' value="Показать" />
     <input name="plugin" type="hidden" value="channels" />
    </form>
    </td>
  </tr>

  <tr>
<td height="30" style="border-bottom: 1px solid black; border-top: 1px solid black;"><strong>#</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Название канала"><a href="{php_self}?plugin=channels&order_by=channel&order={order}{filter}">Канал</a></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Источник multicast"><a href="{php_self}?plugin=channels&order_by=output&order={order}{filter}">MRL</a></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" align="center" title="Состаяние канала"><a href="{php_self}?plugin=channels&order_by=ready&order={order}{filter}">Работает</a></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" align="center" title="Состаяние дешифровки канала"><a href="{php_self}?plugin=channels&order_by=scrambled&order={order}{filter}">Открыт</a></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Номер канала на трансподере"><strong>PNR</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Величина потока данных"><strong>Битрейт</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Ошибки непрерывности потока данных"><strong>CC</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Неправильно дешефрованый поток"><strong>PES</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Источник входящего потока на сервер"><a href="{php_self}?plugin=channels&order_by=stream&order={order}{filter}">Поток</a></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Источник исходящего потока"><a href="{php_self}?plugin=channels&order_by=server&order={order}{filter}">Сервер</a></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Время последнего получения данных по каналу"><a href="{php_self}?plugin=channels&order_by=last_update&order={order}{filter}">Обновлено</a></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Уведомлять об статусе канала посредством SMS"><strong>SMS</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Уведомлять об статусе канала посредством Jabber"><strong>XMPP</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Уведомлять об статусе канала посредством E-Mail"><strong>EMail</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;">&nbsp;</td>
  </tr>
 {list}
  <tr>
    <td colspan="15">&nbsp;</td>
  </tr>
</table>
<script type="text/javascript">
	    function _open( url, width, height ) {
	        window.open( url,'' , 'fullscreen=no,location=no,menubar=no,toolbar=no,status=no,width=' + width + ',height=' + height + ',left=' + ((window.innerWidth - width)/2) + ',top=' + ((window.innerHeight - height)/2) );
	    }
</script>
