 <tr >
    <td height="30" style="background-color: {bgcolor}; border-bottom: 1px dashed black">{num}</td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black"><a title='Воспроизвести в отдельном окне' href='#' onclick="_open( '{php_self}?plugin=channels&action=play_channel&channel_id={channel_id}', 420 , 370 ); return false;">{channel}</a></td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black"><a title='Открыть лог канала' href="{php_self}?plugin=channels_log&channel_id={channel_id}">{output}</a></td>
    <td style="background-color: {ready_bgcolor}; border-bottom: 1px dashed black" align="center"><img title="{ready_title}" src="images/icons/{ready_image}" /></td>
    <td style="background-color: {scrambled_bgcolor}; border-bottom: 1px dashed black" align="center"><img title="{scrambled_title}" src="images/icons/{scrambled_image}" /></td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black;">&nbsp;{pnr}</td>
    <td style="background-color: {bitrate_bgcolor}; border-bottom: 1px dashed black;">&nbsp;&nbsp;{bitrate}</td>
    <td style="background-color: {cc_error_bgcolor}; border-bottom: 1px dashed black">&nbsp;&nbsp;{cc_error}</td>
    <td style="background-color: {pes_error_bgcolor}; border-bottom: 1px dashed black">&nbsp;&nbsp;{pes_error}</td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black"><a href="{php_self}?plugin=channels&stream={stream_encoded}{filter}">{stream}</a></td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black"><a href="{php_self}?plugin=channels&server={server}{filter}">{server}</a></td>
    <td style="background-color: {last_update_bgcolor}; border-bottom: 1px dashed black">&nbsp;&nbsp;&nbsp;{last_update}</td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black"><form id='sms_form_{channel_id}' method="get" action="{php_self}"><input type="hidden" name="plugin" value="channels"><input type="hidden" name="action" value="set_sms"><input type="hidden" name="channel_id" value="{channel_id}"><input name="send_sms" type="checkbox" {send_sms_checked} onclick="document.forms['sms_form_{channel_id}'].submit()"></form></td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black"><form id='xmpp_form_{channel_id}' method="get" action="{php_self}"><input type="hidden" name="plugin" value="channels"><input type="hidden" name="action" value="set_xmpp"><input type="hidden" name="channel_id" value="{channel_id}"><input name="send_xmpp" type="checkbox"  {send_xmpp_checked} onclick="document.forms['xmpp_form_{channel_id}'].submit()"></form></td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black"><form id='email_form_{channel_id}' method="get" action="{php_self}"><input type="hidden" name="plugin" value="channels"><input type="hidden" name="action" value="set_email"><input type="hidden" name="channel_id" value="{channel_id}"><input name="send_email" type="checkbox"  {send_email_checked} onclick="document.forms['email_form_{channel_id}'].submit()"></form></td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black"><a href="{php_self}?plugin=channels&action=delete_channel&channel_id={channel_id}&decrypt_id={decrypt_id}"><img title="Удалить канал" src="images/icons/cross.png"></a></td>
  </tr>