<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr>
    <td style="border-top: 1px solid black; font-size: 20px" align="center">Export Channel List</td>
  </tr>
  <tr>
    <td style="border-top: 1px solid black;" align="center">
    <form action="{php_self}">
        <table width="100%" border="0" cellspacing="0" cellpadding="4">
          <tr>
            <td width="50%" align="right">Include Encrypted Channels</td>
            <td><input type="checkbox" name="get_scrambled"> </td>
          </tr>
          <tr>
            <td align="right">Include Not Working</td>
            <td><input type="checkbox" name="get_not_working"></td>
          </tr>
          <tr>
            <td align="right">Use UDP Proxy - Multicast to HTTP</td>
            <td><input type="checkbox" name="use_udpxy"></td>
          </tr>
          <tr>
            <td colspan="2">
              <input name="action" value="get_m3u" type="hidden">
              <input name="plugin" value="playlist" type="hidden">
            </td>
          </tr>
          <tr>
            <td colspan="2" align="center"><input type="submit" value="GET"></td>
          </tr>
        </table>
    </form>
    
    </td>
  </tr>
</table>
