<table width="100%" ellspacing="0" cellpadding="4" style="border: 1px solid black">
  <tr>
    <td align="center"><a href="{php_self}?plugin=channels">Каналы</a></td>
    <td align="center"><a href="{php_self}?plugin=channels_log">Лог каналов</a></td>
    <td align="center"><a href="{php_self}?plugin=adapters">Адаптеры</a></td>
    <td align="center"><a href="{php_self}?plugin=playlist">Плейлист</a></td>
    <td align="center"><a href="{php_self}?plugin=users">Пользователи</a></td>
  </tr>
</table>

