<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr>
    <td height="20" colspan="16" style="border-top: 1px solid black; font-size: 20px" align="center">Channel List</td>
  </tr>
  <tr>
    <td height="20" colspan="16" style="border-top: 1px solid black; font-size: 20px" align="center">
     <form method="get" style="font-size: 15px;" action="{php_self}">
    Server: {filter_server} Flow: {filter_stream}
     <input type="submit" name='' value="Show" />
     <input name="plugin" type="hidden" value="channels" />
    </form>
    </td>
  </tr>

  <tr>
<td height="30" style="border-bottom: 1px solid black; border-top: 1px solid black;"><strong>#</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Channel Name"><a href="{php_self}?plugin=channels&order_by=channel&order={order}{filter}">Channel</a></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Multicast Source"><a href="{php_self}?plugin=channels&order_by=output&order={order}{filter}">MRL</a></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" align="center" title="Channel State"><a href="{php_self}?plugin=channels&order_by=ready&order={order}{filter}">Status</a></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" align="center" title="Encrypted Channel State"><a href="{php_self}?plugin=channels&order_by=scrambled&order={order}{filter}">Scramble State</a></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Сhannel Number"><strong>PNR</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Source Bitrate"><strong>Bitrate</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="CC Errors"><strong>CC</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Wrong Encryption"><strong>PES</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Input Source Server"><a href="{php_self}?plugin=channels&order_by=stream&order={order}{filter}">MUX Name</a></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Source Upstream"><a href="{php_self}?plugin=channels&order_by=server&order={order}{filter}">Server</a></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Last Received Data"><a href="{php_self}?plugin=channels&order_by=last_update&order={order}{filter}">Last Update</a></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Notify by SMS"><strong>SMS</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Notify by Jabber"><strong>XMPP</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" title="Notify by Email"><strong>EMail</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;">&nbsp;</td>
  </tr>
 {list}
  <tr>
    <td colspan="15">&nbsp;</td>
  </tr>
</table>
<script type="text/javascript">
	    function _open( url, width, height ) {
	        window.open( url,'' , 'fullscreen=no,location=no,menubar=no,toolbar=no,status=no,width=' + width + ',height=' + height + ',left=' + ((window.innerWidth - width)/2) + ',top=' + ((window.innerHeight - height)/2) );
	    }
</script>
