<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr>
    <td height="20" colspan="8" style="border-top: 1px solid black; font-size: 20px" align="center">Лог изменения статуса каналов</td>
  </tr>
  <tr>
    <td height="20" colspan="8" style="border-top: 1px solid black; font-size: 15px" align="center">
    {filter}
    <form action="{php_self}" method="get" style="float: left ">
    	<input type="submit" name='' value="Очистить лог" />
        <input name="plugin" type="hidden" value="channels_log" />
        <input name="action" type="hidden" value="clean_log" />
    </form>
    </td>
  </tr>
  <tr>
    <td height="30" style="border-bottom: 1px solid black; border-top: 1px solid black;"><strong>Время</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;"><strong>Канал</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;"><strong>MRL</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" align="center"><strong>Работает</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" align="center"><strong>Открыт</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" align="center"><strong>Cam</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;" align="center"><strong>Ключи</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;"><strong>Сервер</strong></td>
  </tr>
 {list}
  <tr>
    <td colspan="8">&nbsp;</td>
  </tr>
</table>
