<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr>
    <td height="20" colspan="4" style="border-top: 1px solid black; font-size: 20px" align="center">USERS List</td>
  </tr>

  <tr>
    <td height="30" width="3%" style="border-bottom: 1px solid black; border-top: 1px solid black;"><strong>#</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;"><strong>USER</strong></td>
    <td style="border-bottom: 1px solid black; border-top: 1px solid black;">&nbsp;</td>
  </tr>
 {list}
  <tr>
      <td colspan="4" >&nbsp;</td>
  </tr>
  <tr>
      <td colspan="4" align="center" >
      <form action="{php_self}" onsubmit="return confirm('Add a USER?')">
      	USER:&nbsp;&nbsp;<input name='user' type="text" size="30" maxlength="50">
       	&nbsp;&nbsp;&nbsp;PASSWORD:&nbsp;&nbsp;<input name='password' type="text" size="30" maxlength="50">
        <input type="hidden" name='plugin' value="users">
        <input type="hidden" name='action' value="add_user">
        &nbsp;&nbsp;&nbsp;<input type="submit" value='Submit'>
      </form>
      </td>
  </tr>
</table>
