<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr>
    <td style="border-top: 1px solid black; font-size: 20px" align="center">Экспорт плейлиста</td>
  </tr>
  <tr>
    <td style="border-top: 1px solid black;" align="center">
    <form action="{php_self}">
        <table width="100%" border="0" cellspacing="0" cellpadding="4">
          <tr>
            <td width="50%" align="right">Включить зашифрованные</td>
            <td><input type="checkbox" name="get_scrambled"> </td>
          </tr>
          <tr>
            <td align="right">Включить не работающие</td>
            <td><input type="checkbox" name="get_not_working"></td>
          </tr>
          <tr>
            <td align="right">Использовать UDP прокси</td>
            <td><input type="checkbox" name="use_udpxy"></td>
          </tr>
          <tr>
            <td colspan="2">
              <input name="action" value="get_m3u" type="hidden">
              <input name="plugin" value="playlist" type="hidden">
            </td>
          </tr>
          <tr>
            <td colspan="2" align="center"><input type="submit" value="Получить"></td>
          </tr>
        </table>
    </form>
    
    </td>
  </tr>
</table>