 <tr >
    <td height="20" style="background-color: {bgcolor}; border-bottom: 1px dashed black">{time}</td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black"><a href="{php_self}?plugin=channels_log&channel_id={channel_id}">{channel}</a></td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black"><a href="{php_self}?plugin=channels_log&channel_id={channel_id}">{output}</a></td>
    <td style="background-color: {ready_bgcolor}; border-bottom: 1px dashed black" align="center"><img title="{ready_title}" src="images/icons/{ready_image}" /></td>
    <td style="background-color: {scrambled_bgcolor}; border-bottom: 1px dashed black" align="center"><img title="{scrambled_title}" src="images/icons/{scrambled_image}" /></td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black" align="center"><img title='{cam_title}' src="images/icons/{cam_image}" /></td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black" align="center"><img title='{keys_title}' src="images/icons/{keys_image}" /></td>
    <td style="background-color: {bgcolor}; border-bottom: 1px dashed black"><a href="{php_self}?plugin=channels_log&server={server}">{server}</a></td>
  </tr>